<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WarehouseEntities" connectionString="metadata=res://*/Models.Entities.Model1.csdl|res://*/Models.Entities.Model1.ssdl|res://*/Models.Entities.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K9BKTS9\SQL;initial catalog=KjsCompany;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KjsCompanyEntities" connectionString="metadata=res://*/Models.Entities.Model1.csdl|res://*/Models.Entities.Model1.ssdl|res://*/Models.Entities.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K9BKTS9\SQL;initial catalog=KjsCompany;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KjsCompanyEntities1" connectionString="metadata=res://*/Models.Entities.WarehouseEntities.csdl|res://*/Models.Entities.WarehouseEntities.ssdl|res://*/Models.Entities.WarehouseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K9BKTS9\SQL;initial catalog=KjsCompany;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>